@import "images.png";

html {
  background: #0E3741;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  background: #CB4B16;
  border-radius: 80%;
  backface-visibility: hidden;
}